rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /ladder_data/{document} {
      allow read: if request.auth != null;
      allow write: if false;
    }

    match /race_config/{document} {
      allow read, write: if false;
    }
  }
}
